body {
    margin: 0;
    padding: 0;
    transition: 500ms ease;
    font-family: Helvetica;
}
.mybody {
    text-align: center;
}

.title {
    text-align: center;
    width: 100%;
    height: auto;
    font-weight: normal;
    font-size: 300%;
    margin-top: 1%;
    margin-bottom: 2%;

}

div.scrollwindow {
    margin-top: 10%;
    overflow: scroll;
    max-width: 100%;
    height: 500px;
    border-style: none;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 15px rgb(180, 180, 180);
    padding-left: 20%;
    padding-right: 20%;
    white-space: pre-line;
    text-align: left;
    transition: 500ms ease;
}

.input-box {
    height: 30px;
    width: 200px;
    border-style: none;
    border-radius: 10px;
    background-color: rgb(243, 243, 243);
    font-size: 100%;
    transition: 500ms ease;
}
.button {
    height: 40px;
    width: 90px;
    border-style: none;
    border-radius: 10px;
    background-color: rgb(33, 194, 105);
    color: white;
    font-weight: bold;
    font-size: 100%;
    transition: 300ms ease;
}
.button:hover {
    background-color: rgb(34, 151, 87);
 }
.chat-layout {
    min-height: 30px;
    height: auto;
    width: fit-content;
    min-width: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 15px;
    color: white;
    background-color: rgb(119, 81, 255);
    box-shadow: 0 8px 10px rgb(175, 175, 175);
    transition: 500ms ease;
}
.my {
    margin-left: auto;
    margin-right: 0;
    min-height: 30px;
    min-width: 40px;
    height: auto;
    width: fit-content;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 15px;
    color: white;
    background-color: rgb(33, 194, 105);
    box-shadow: 0 8px 10px rgb(175, 175, 175);
    transition: 500ms ease;
}

.author {
    font-weight: bold;
    color: rgb(31, 31, 31);
    transition: 500ms ease;
}

.me {
    font-weight: bold;
    width: 100%;
    text-align: right;
    color: rgb(31, 31, 31);
    transition: 500ms ease;
}

div.footer {
    width: 100%;
    height: 100px;
    background-color: rgb(34, 34, 34);
    transition: 500ms ease;
}

.latest {
    height: 40px;
    width: 120px;
    border-style: none;
    border-radius: 10px;
    background-color: rgb(245, 245, 245);
    color: rgb(197, 197, 197);
    font-weight: bold;
    font-size: 80%;
    transition: 300ms ease;
}
.latest:hover {
    background-color: rgb(209, 209, 209);
    color: rgb(121, 121, 121);
    
 }

 .header {
    width: 100%;
    height: 70px;
    background-color: rgb(34, 34, 34);
    transition: 500ms ease;
 }

.right {
    text-align: right;
    padding-right: 40px;
}

div.toggle {
    width: 60px;
    height: 23px;
    padding-top: 2px;
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    border-color: rgb(24,24,24);
    background-color: white;
    font-weight: normal;
    font-size: large;
    text-align: center;
}

.label-mode {
    font-weight: bold;
    font-size: 100%;
}

.little-icon {
    width: 30px;
    height: 30px;
}

.description {
    text-align: center;
}
.header-zone {
    height: 100px;
    width: 100%;
}